@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-info
        &-slider
            &__img
                height: 100%
                object-fit: cover
    .card
        width: 230px
        height: 230px
    .footer
        &__input
            flex-basis: 100%
@media  (max-width: 992px)
    .container,
    .newsletter-wrapper
        max-width: 760px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            padding-top: 22px
            padding-bottom: 22px
            &__link
                font-size: 12px
                line-height: 15px
                max-width: 340px
    .hotel
        &-info
        &-name
            line-height: 30px
        &-slider
            &__img
                width: 100%
                height: 100%
        &-right
            flex-direction: row
        &-grid
            flex-direction: column
    .swiper
        &-container
            width: 100%
            margin-bottom: 30px
            margin-right: 0
    .booking
        width: 340px
        margin-right: 20px
    .map
        width: 340px
    .reviews
        &-slider
            &__item
                max-width: 580px
    .activities
        padding-bottom: 50px
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 230px
    .footer
        padding-top: 72px
        &-wrapper
            grid-template-columns: repeat(4, minmax(23%, 1fr))
            grid-row-gap: 51px
            grid-column-gap: 11px
        &__title
            &--inline
                padding: 0 0 0 0
            &--sum

        &__input
            &-group
                width: 100%
        &__logo
            grid-row: 1 / 2
            grid-column: span 1
            grid-row-gap: 40px
            width: 96px
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
                padding: 14px 0 0 12px
        &__categories
            grid-row: 2 / 3
            grid-column: span 1
        &__legal
            grid-column: span 2
            padding: 0
            margin-left: -25px
        &__additional
            grid-column: span 2
            padding-left: 28px
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
        &__contacts
            &-form
                grid-column: span 4
                grid-row: 4
                margin-top: -18px
                padding: 0
                width: 539px
        &__text
            margin-left: 0
        &__item
            &--mb-2,&--mb-3
                padding-left: 5px
        &__other
            grid-column: span 4
            padding-left: 0
            padding-top: 2px
        &__links
            &__disclaimer,,&__cou,&__cp
                padding-right: 10px
        &__payment
            &--image
                margin-right: -11px
        &__message
            margin-bottom: 19px
@media ( max-width: 768px)
    .container,
    .newsletter-wrapper
        max-width: 700px
        width: 92%
    .search
        &__input
            width: 340px
        &__search
            margin-left: 48px
        &-menu
            padding-top: 19px
            padding-bottom: 22px
            justify-content: space-around
    .navbar
        &__user, &__search
            &--mobile
                &--visible
                    display: none
                &--hidden
                    display: flex
    .navbar
        &__search
            margin-left: 48px
        &-menu
            padding-top: 20px
            justify-content: space-around
    .hotel
        padding-bottom: 57px
        &-description
            margin-top: 1px
        &-info
            &__name
                margin: 0
    .booking
        padding-left: 23px
        padding-right: 21px
        &__info
            margin-bottom: 10px
        &__per-room
            line-height: 12px
    .newsletter
        padding: 93px 0 93px 0
        &__subscribe
            padding-left: 5px
    .subscribe
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 18px
        &__button
            font-weight: bold
            font-size: 12px
            line-height: 15px
    .reviews
        &__title
            font-size: 30px
            margin-bottom: 44px
        &-slider
            &__item
                padding: 0 64px 30px
            &__button
                top: 50%
                &--prev
                    left: 1px
                &--next
                    right: 1px
    .activities
        padding-top: 19px
        &__title
            margin-bottom: 55px
    .card
        height: 255px
        &__title
            &--header-one
                margin-bottom: 17px
                width: 55%
            &--header-two,
            &--header-four
                margin-bottom: 17px
                width: 70%
            &--header-three
                margin-bottom: 17px
                width: 60%
    .footer
        &__input
            flex-basis: 47%
@media ( max-width: 767px)
    .container
        max-width: 700px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &--mobile
            &--fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &__user, &__search
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: flex

        &__user
            flex-direction: column
            justify-content: center
        &-bottom
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 78px
            padding-top: 30px
            &--visible
                display: block
                overflow: auto
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
                &--mobile
                    &--visible
                        display: block

        &-top
            &__menu-button
                display: flex
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &--light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto
    .hotel
        padding-bottom: 57px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
                line-height: 30px
            &__rating
                display: none
            &__offer
                margin-top: 0
                margin-left: 0
                order: -1
        &-right
            flex-direction: column
            min-height: 450px
    .booking
        width: 100%
        margin-right: 0
    .map
        width: 100%
        height: 210px
    .newsletter
    .reviews
        &-slider
            &__item
                max-width: 580px
                padding: 0 30px 30px
                &:after, &:before
                    display: none
            &__button
                top: 30px
                &--prev
                    left: 50%
                    margin-left: -70px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -70px
                    transform: translate(50%, 0)
    .activities
        padding-top: 40px
        padding-bottom: 60px
    .card
        width: 49%
        height: 255px
@media ( max-width: 725px)
    .footer
        &__legal
            grid-row: 2
            grid-column: span 1
            margin-left: 0
@media ( max-width: 639px)
    .footer
        &__additional
            padding-left: 0
@media ( max-width: 599px)
    .footer
        &__contact
            &-details
                grid-row: 3
@media (max-width:576px)
    .logo
        width: 99px
    .hotel
        padding-bottom: 42px
        &-info
            padding-bottom: 36px
        &-slider
            margin-bottom: 20px
    .map
        height: 172px
    .hotel
        padding-bottom: 39px
        &-right
            min-height: 403px
        &-slider
            min-width: 280px
            max-height: 180px
    .newsletter
        padding: 76px 7px 84px 9px
        &-title
            margin-bottom: 37px
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
                padding-top: 4px
        &__subscribe
            padding-left: 0
        &-wrapper
            flex-direction: column
            max-width: 700px
            width: 92%
            padding: 0
            align-items: flex-start
    .subscribe
        width: 100%
        &__button
            right: 0
        &__input
            padding-left: 20px
    .reviews
        padding-top: 39px
        padding-bottom: 61px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 44px
        &-slider
            &__item
                padding: 0 31px 30px
            &__text
                font-size: 12px
                line-height: 160%
                text-align: left
            &__profile
                margin-bottom: 28px
    .activities
        flex-flow: wrap
        padding-top: 0
        padding-bottom: 40px
        &-wrapper
            display: flex
        &__card
            &:nth-child(1)
                order: 1
            &:nth-child(2)
                order: 3
            &:nth-child(3)
                order: 2
                margin-bottom: 28px
            &:nth-child(4)
                order: 4
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
    .card
        width: 100%
        &__title
            &--header-one
                width: 65%
            &--header-three
                width: 72%
            &--header-four
                width: 95%
        &--header-four
            margin-bottom: 17px
            width: 70%
    .footer
        padding-top: 66px
        &-wrapper
            grid-template-columns: 280px
            grid-row-gap: 28px
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
                padding: 0
                display: flex
                flex-wrap: wrap
            &-links
                flex-basis: 15%
        &__title
            &--sum
                margin-bottom: 18px
            &--inline
                flex-basis: 100%
                padding-top: 14px
                padding-bottom: 20px
            &--all-categories
                margin-bottom: 16px
                padding-top: 3px
        &__additional
            grid-row: 4
            grid-column: span 2
            padding-left: 0
            margin-left: 0
        &__categories
            grid-row: 5
            grid-column: 1
        &__legal
            grid-row: 3
            grid-column: 1
            margin-left: 0
        &__contact
            &-details
                grid-row: 6
                grid-column: span 1
        &__contacts
            &-form
                grid-row: 7
                grid-column: span 2
                width: 103%
                margin-top: 0
                margin-bottom: 18px
        &__input
            &-group
                flex-basis: 93%
        &__item
            &--mb-2
                margin-bottom: 18px
                padding-left: 0
            &--mb-3
                padding-left: 0
        &__icon-wrapper
            min-width: 35px
        &__message
            flex-basis: 93%
            margin-bottom: 12px
        &__button
            display: flex
            order: 2
            justify-content: center
        &__info
            display: flex
            flex-basis: 93%
            order: 1
            margin-bottom: 14px
        &__other
            grid-row: 8
            grid-column: span 2
            margin-top: -25px
            flex-wrap: wrap
        &__links
            flex-basis: 55%
            margin-bottom: 10px
            &__disclaimer,,&__cou,&__cp
                padding-right: 5px
        &__payment
            flex-basis: 20%
    .navbar
        &-menu
            &__item
                margin-bottom: 17px
                &--mobile
                    &--visible
                        margin-bottom: 17px
                        &:nth-child(1)
                            margin-bottom: 32px
                        &:nth-child(2)
                            margin-bottom: 37px
                            margin-left: -47px
        &-bottom
            &--visible
                top: 69px
                padding-top: 10px
    .search
        &__input
            &--mobile
                &--visible
                    width: 100%
@media (max-width:552px)
    .footer
        &__links
            flex-basis: 100%
@media (max-width:320px)
    .container
        max-width: 280px
    .navbar
        &-top
            padding-top: 22px
    .breadcrump
        &-list
            padding-bottom: 7px
    .stars
        flex-basis: 22%
        padding-left: 0
        padding-bottom: 2px
    .reviews
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 44px
            max-width: 260px
            margin-left: 8px
        &-slider
            &__button
                top: 17px
                &--prev
                    left: 43%
                &--next
                    right: 43%
